

.contact__item {
    width: 400px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}


.contact__item__name {
    width: 150px;
    justify-content: flex-start;
    display: flex;
    /* outline: solid 2px red; */
}

.contact__item__numb {
    width: 190px;
    justify-content: flex-start;
    display: flex;
    /* outline: solid 2px red; */
}