
.contact__item {
    width: 400px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.contact__item__name {
    width: 150px;
    justify-content: flex-start;
    display: flex;
    /* outline: solid 2px red; */
}

.contact__item__numb {
    width: 190px;
    justify-content: flex-start;
    display: flex;
}

.spiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__btn {
margin-left: auto;
margin-right: auto;
margin-top: 5px;
border-radius: 25%;
border: solid 2ps rgb(243, 147, 2);
/* display: flex; */
font-size: 12px;
padding: 6px;
align-items: center;
background-color: rgb(245, 61, 116);
cursor: pointer;
}

.contact__btn:hover,
.contact__btn:focus {
    transition: 0.5s all ease;
    transform: scale(1.2);
    border: solid 2px rgb(245, 61, 116);
    background-color: rgb(243, 147, 2);
    color: white;
    box-shadow: 5px 5px 5px #f7ba75; 
   
}